
project/boot
project/plugins/project
project/plugins/target
project/target
viewer/dist
viewer/site.tgz
cluster-id.txt
last-step-id.txt
target
.ensime
\#*#
*~
.#*
.lib
*.aux.xml
*.jar
*.crc
_SUCCESS

*.pyc
.project
.classpath
.cache
.settings
.history
.idea
.DS_Store
*.iml
*.swp
*.swo
*.sublime-*
.vagrant
.ensime
.ensime_cache
tags
